---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'

interface Props {
  title: string
  description: string
  translations?: { url: string; lang: string }[]
  seo?: {
    type: 'website' | 'article'
    ogImage?: string
  }
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, translations = [], seo } = Astro.props
const ogImage = seo?.ogImage ?? '/og/home.png'
// https://developers.google.com/search/docs/specialty/international/localized-versions
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- SEO Meta Tags -->
<meta name="language" content="en" />
<meta name="geo.region" content="FR" />
<meta name="geo.placename" content="France" />
<meta name="author" content="Maxence Poutord" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Font preloads -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
  media="print"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<script
  is:inline
  defer
  data-domain="maxpou.fr"
  src="https://plausible.io/js/plausible.js"></script>

<link
  rel="alternate"
  type="application/rss+xml"
  title="Maxence Poutord • Maxpou Blog"
  href="/rss.xml"
/>
<link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={seo?.type ?? 'website'} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Maxence Poutord" />
<meta property="og:locale" content="en_US" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{
  seo?.ogImage && (
    <meta property="og:image" content={new URL(seo.ogImage, Astro.url)} />
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta name="twitter:creator" content="_maxpou" />
<meta property="twitter:image" content={new URL(ogImage, Astro.url)} />

<!-- Web App Manifest -->
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#ffdc4e" />

<!-- DNS Prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//plausible.io" />

{
  translations.length > 1 &&
    translations.map(({ url, lang }) => (
      <link rel="alternate" hreflang={lang} href={url} />
    ))
}

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
  window.localStorage.setItem('theme', theme)
  typeof plausible !== 'undefined'
    && plausible('pageview', {props: {darkMode: theme !== 'light'}})
</script>
