---
import type { CollectionEntry } from 'astro:content'
import { Picture } from 'astro:assets'
import FrFlag from './icons/FrFlag.png'
import FormattedDate from './FormattedDate.astro'

type Props = {
  post: CollectionEntry<'blog'>
  class?: string
  firstBigger?: boolean
}

const { post, firstBigger = true } = Astro.props
---

<a
  title={post.data.title}
  href={`/blog/${post.slug}/`}
  class:list={[
    'ease flex flex-col rounded-lg bg-white transition duration-300 dark:bg-gray-500',
    'hover:translate-y-0.5 shadow-md  hover:shadow-xl',
    'group',
    firstBigger ? 'first:col-span-1 first:md:col-span-2' : '',
  ]}
>
  {
    post.data.cover && (
      <Picture
        src={post.data.cover}
        width={420}
        height={224}
        formats={['webp', 'avif', 'jpeg']}
        alt={`Cover picture for ${post.data.title}`}
        class="h-56 w-full rounded-b-none rounded-t-lg object-cover transition"
      />
    )
  }
  <div class="p-4">
    <header class="text-xl font-semibold text-gray-700 dark:text-gray-100">
      <span class="inline">
        {
          post.data.language === 'fr' && (
            <img
              src={FrFlag.src}
              alt="French post"
              class="inline pb-[6px] pr-1"
            />
          )
        }
        <!-- {post.data.title} -->
        <span
          class="from-blue-100 to-blue-100 text-dark dark:bg-none
           bg-gradient-to-r bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
        >
          {post.data.title}
        </span>
      </span>
    </header>
    <p class="date text-gray-400 dark:text-gray-100">
      <FormattedDate date={post.data.date} />
    </p>
  </div>
</a>
