---
import { SITE_OWNER } from '../consts'

const today = new Date()
---

<footer class="bg-blue-50 dark:bg-gray-600 dark:text-white w-full mx-auto pb-0 text-[#60739f]">
  <div class="m-auto flex w-5xl max-w-full flex-wrap justify-between sm:flex-row sm:gap-2 gap-4 flex-col">
    <div class="w-full sm:pb-4 md:w-auto flex-auto">
      <p class="pb-1 font-bold">
        &copy; 2014 - {today.getFullYear()} - {SITE_OWNER}
      </p>

      <p>Built with Astro, Tailwind and some ☕️</p>
      <p>
        Hosted with <span class="text-red-500">❤</span> by <a
          class="hover:text-gray-700 hover:underline dark:hover:text-mainYellow"
          href="https://github.com/maxpou/maxpou.fr">GitHub</a
        >.
      </p>
    </div>
    <div class="flex-auto">
      <h3 class="pb-1 font-bold">Explore</h3>
      <ul>
        {
          [
            ['/blog', 'Blog'],
            ['/about', 'About'],
            ['/uses', 'Uses'],
            ['/cv', 'Resume (cv)', '_blank'],
            ['/readme', 'Readme'],
          ].map(([url, title, target = '_self']) => (
            <li>
              <a
                href={url}
                target={target}
                class="hover:text-gray-700 hover:underline dark:hover:text-mainYellow"
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex-auto">
      <h3 class="pb-1 font-bold">Things I’ve Made
      </h3>
      <ul>
        {
          [
            ['/recipes', 'Recipes'],
            ['https://air-max.netlify.app', 'Avion', '_blank'],
            ['https://youtube-mate.com', 'YoutubeMate', '_blank'],
            ['/apps', 'Full list'],
          ].map(([url, title, target = '_self']) => (
            <li>
              <a
                href={url}
                target={target}
                class="hover:text-gray-700 hover:underline dark:hover:text-mainYellow"
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex-auto">
      <h3 class="pb-1 font-bold flex-auto">Let's connect</h3>
      <ul>
        {
          [
            ['https://github.com/maxpou', 'GitHub', 'noopener noreferrer'],
            ['https://bsky.app/profile/maxpou.fr', 'Bluesky', 'noopener noreferrer'],
            [
              'https://www.linkedin.com/in/maxpou/',
              'LinkedIn',
              'noopener noreferrer',
            ],
            ['/rss.xml', 'RSS feed'],
          ].map(([url, title, rel]) => (
            <li>
              <a
                href={url}
                rel={rel}
                class="hover:text-gray-700 hover:underline dark:hover:text-mainYellow"
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <style>
    footer {
      padding: 2em 1em 6em 1em;
    }
  </style>
</footer>
