---
import type { CollectionEntry } from 'astro:content'
import HeroImage from '../components/HeroImage.astro'
import Layout from '../components/Layout.astro'
import PageTitle from '../components/PageTitle.astro'

type Props = CollectionEntry<'pages'> | CollectionEntry<'recipes'>

const { data, slug } = Astro.props
const { title, cover, description } = data
---

<Layout
  title={title}
  description={description || ''}
  seo={{
    type: 'article',
    ogImage: `/og/${slug}.png`,
  }}
>
  <article>
    {cover && <HeroImage alt={`Cover for ${title}`} src={cover} />}
    <div class="container m-auto text-center">
      <PageTitle class="pt-12">{title}</PageTitle>
    </div>
    <div class="m-auto w-[720px] max-w-full">
      <slot />
    </div>
  </article>
</Layout>
